@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
} */

.borderless-input {
  outline: none;
}

.section {
clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
}

.sectionbet {
clip-path: polygon(5% 0, 100% 0, 50% 100%, 0% 100%);
}

.sectionhot {
clip-path: polygon(5% 0, 100% 0, 90% 100%, 0% 100%);
}